<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Reading</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Name</th>
                <th>Category</th>
                <th>Tags</th>
                <th>
                  Status
                </th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let book of books">
                  <td>{{book.bookName}}</td>
                  <td>{{book.category}}</td>
                  <td>
                    <span *ngFor="let tag of book.tags">
                      {{tag}}
                    </span>
                  </td>
                  <td>
                    {{book.status}}
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" [routerLink]="['/book-list', 'book-detail', book.id]">Detail book</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary" [routerLink]="['/book-list', 'book-edit']">Create book</button>
        </div>
      </div>
    </div>
  </div>
</div>