<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Book edit</h4>
        </div>
        <form name="bookForm" [(formGroup)]="bookForm" novalidate>
          <div class="card-body">
            <span *ngIf="bookForm.invalid">
              <p class="text-danger">There is something wrong</p>
            </span>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Book Name</label>
                  <input type="text" class="form-control" placeholder="Lean startup" formControlName="bookName">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control" placeholder="Eric Ries" formControlName="author">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="Category">Category</label>
                  <select class="form-control" id="Category" formControlName="category">
                    <option value="Lengendary">Lengendary</option>
                    <option value="Skill">Skill</option>
                    <option value="Biographie">Biographie</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Book Url</label>
                  <input type="text" class="form-control" placeholder="url" formControlName="bookImageUrl">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Source</label>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input formControlName="ebook" class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                          <span>Ebook</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input formControlName="paper" class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                          <span>Paper</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input formControlName="audio" class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                          <span>Audio</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Tags</label>
                  <input type="text" class="form-control" placeholder="Business/Startup" (keydown)="onTagKeydown($event)">
                </div>
                <div class="row">
                  <div class="ml-1" *ngFor="let tag of tags;index as i">
                    <h5>
                      <span class="badge badge-pill" [ngClass]="tag.className" (click)="removeTag(i)">{{tag.name}}</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Comment</h4>
                  </div>
                  <div class="card-body">
                    <textarea class="form-control" formControlName="comment" rows="20" id="textbox"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="pl-3">
          <button type="button" class="btn btn-primary" (click)="createOrUpdateBook()" [disabled]="bookForm.invalid">Create book</button>
        </div>
      </div>
    </div>
  </div>