<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Reading</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngFor="let book of books" class="col-3">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Book Title</h4>
                </div>
                <img class="card-img-top" src="http://lorempixel.com/300/400" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">Author:</h6>
                  <h6 class="card-title">Tags:</h6>
                  <div>
                    <span class="badge badge-pill badge-primary">Primary</span>
                    <span class="badge badge-pill badge-secondary">Secondary</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" [routerLink]="['/book-list', 'book-edit']">Create book</button>
        </div>
      </div>
    </div>
  </div>
</div>