<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title">Project list</h4>
          <p class="category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Project Name
                </th>
                <th>
                  Date creation
                </th>
                <th>
                  Status
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Life Api
                  </td>
                  <td>
                    25/7/2018
                  </td>
                  <td>
                    En cours
                  </td>
                  <td>
                    <button class="btn btn-success" [routerLink]="['/side-project', 'side-project-detail']">
                      <i class="now-ui-icons objects_spaceship"></i>
                    </button>
                    <button class="btn btn-danger">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary">Create Project</button>
        </div>
      </div>
    </div>
  </div>
</div>